ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-list{
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-list li{
    margin-bottom: 20px;
}

.dropdown-toggle{
    margin: 10px;
}

.dropdown-menu li{
    margin: 0;
}