<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SWRL Analyze</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}"/>
</head>
<body data-offset="60">
    <div id="container" class="container-fluid">
        <section class="col-sm-3 well">
            <h3>Filters</h3>
            <ul class="filter-list">
                <li>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#classes">Classes</button>
                    <div id="classes" class="dropdown collapse">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose class
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="class_name : ${classes}">
                                <a href="#" th:text="${class_name}"></a>
                            </li>
                        </ul>
                        <button id="filter_post" class="btn btn-info">Filter</button>
                    </div>
                </li>
                <li>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#return_type">Functional object property</button>
                    <div id="return_type" class="dropdown collapse">
                        <button id="filter_functional_post" class="btn btn-info">Filter</button>
                    </div>
                </li>
                <li>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#return_symmetric">Symmetric object property</button>
                    <div id="return_symmetric" class="dropdown collapse">
                        <button id="filter_symmetric_post" class="btn btn-info">Filter</button>
                    </div>
                </li>
                <li>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#return_subof">Sub property of other property</button>
                    <div id="return_subof" class="dropdown collapse">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose rule
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="ruleName : ${rulesNames}">
                                <a href="#" th:text="${ruleName}"></a>
                            </li>
                        </ul>
                        <button id="filter_as_subof_post" class="btn btn-info">Filter</button>
                    </div>
                </li>
                <li>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#return_inverse">Inverse object property</button>
                    <div id="return_inverse" class="dropdown collapse">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose rule
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="ruleName : ${rulesNames}">
                                <a href="#" th:text="${ruleName}"></a>
                            </li>
                        </ul>
                        <button id="filter_as_inverse_post" class="btn btn-info">Filter</button>
                    </div>
                </li>
            </ul>
            <div class="loader"></div>
        </section>

        <section id="swrl_list" class="col-sm-9" th:include="swrl_list :: list (rules = ${rules})"></section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/main.js" th:src="@{js/main.js}"></script>
</body>
</html>
